<div class="headOfAll col-lg-12 fixed-top ">
    <h1>Covid-Einkaufslisten</h1>
</div>
<div class="row">
<div class= " menu col-lg-2 left fixed" ><!--ui four item tabs-->
<a routerLink= "home" routerLinkActive= "active" class= "item" >Home<br></a >
    <!--EINGELOGGT-->
<span *ngIf="isLoggedIn()">
    <!--HILFESUCHENDER-->
    <a *ngIf="!isHelper()" routerLink= "shoppinglists" routerLinkActive= "active" class= "item" >Meine Einkaufslisten<br></a >
    <a *ngIf="!isHelper()" routerLink= "admin" routerLinkActive= "active" class= "item" >Neue Einkaufsliste<br></a >
    <a *ngIf="isHelper()" routerLink= "shoppinglists" routerLinkActive= "active" class= "item" >Offene Einkaufslisten und Deine angenommenen<br></a >


</span >

    <a routerLink= "/login" routerLinkActive= "active" class= "item" >{{ getLoginLabel ()}}<br></a >
</div >
<div class="col-lg-10 contentOfAll"><router-outlet></router-outlet ></div>
</div>